* {
    margin: 0;
    padding: 0;
}
body {
    background: rgb(128, 128, 128);
    padding: 1.5em;

    display: grid;
    
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 100px 100px 3fr 100px

}
header, nav, section, aside, footer{
    border-radius: 0.5em;
    margin: 1em;
    padding: 1em;
}
header {
    background: rgb(187, 187, 187);
    grid-column: 1/3;
}
nav {
    background: lightseagreen;
    grid-column: 1/3;
    display: flex;
}

section {
    background: lightcoral;
    
    display: grid;
    
    grid-template-columns: 1fr;
    grid-template-rows: max-content;
}
section h1{
    padding-bottom: 0.5em;
}
section article {
    background: lightpink;
    padding: 1em;
    border-radius: 0.5em;
    align-items: center;
    align-self: center;
    align-content: center;
    justify-self: center;
    justify-content: center;
    justify-items: center;
    font-size: 1.5em;
}

aside {
    background: lightskyblue;
}
footer {
    background: lightseagreen;
    grid-column: 1/3;
}
area {
    background: lime;
}
img {
    display: block;
    margin: auto;
}
section p {
    padding: 1em;
    text-align: justify;
}
.lista {
    margin-left: 1em;
    background-color: lightslategray;
}